<div class="home-main">
    <div>
      New Template
      <ul class="template-list">
        <li (click)="updateTemplate('UltraSound')">
          UltraSound
        </li>
        <li (click)="updateTemplate('XRAY')">
            XRAY
        </li>
        <li (click)="updateTemplate('MRI')">
            MRI
        </li>
        <li (click)="updateTemplate('CT Scan')">
            CT Scan
        </li>
      </ul>
    </div>
    <div>
      Edit Template
      <ul class="template-list">
        <li>
          UltraSound
        </li>
        <li>
            XRAY
        </li>
        <li>
            MRI
        </li>
        <li>
            CT Scan
        </li>
      </ul> 
    </div>
    <div>
        New Stationary
        <ul class="template-list">
          <li>
            Header
          </li>
          <li>
              Footer
          </li>
        </ul> 
      </div>
  </div>